.video{
    width: 100%;
}
.video-wrap{
    display: flex;
    flex-direction: column;
}
.video-youtube{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-move-to-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.video-move-to{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-accordion{
    display: flex;
    justify-content: center;
    align-items: center;
}
