
.kanban{
    min-height:100vh;
    height: 100%;
    background: #002855;

    overflow: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: center;

}
.kanban-header{
    margin-top: 30px;
}
.kanban-header-text{
    color: white;
    font-family: "BM Jua";
 }
.kanban-wrap{
    border:solid #002855 ;
    border-radius: 20px;
    min-height: 70vh;
    background: #EEEEEE;
}
