.navbar-header {
  padding-inline: 2rem;
  border-bottom: 1px solid #ccc;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  color: #9d2235;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}

.navbar-w-logo {
  height: 70px;
  object-fit: contain;
}

.login-button {
  padding: 10px 20px;
  background-color: #9d2235;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #872032;
}
