.sidebar{
    z-index: 100;
    position:fixed;
    width: 300px;
    padding: 0px 20px 0px 10px;
    min-height: 100vh;
    left: 0px;
    flex: 1;
    background-color: aliceblue;
    overflow-y: auto;
}
.sidebar a{
    text-decoration: none;
}
.sidebar-header{
    margin-bottom: 70px;
}
.sidebar-name{
    font-family: "BM Jua";
}
.sidebar-add-btn{
    position:absolute;
    top: 10px;
}
.sidebar-add-btn-btn{
    width: 270px;
}
.sidebar-add-btn-btn-plus{
    font-family: "BM Jua";
    font-size: 20px;
}
.sidebar-title{
    width: 100%;
}
.sidebar-title>div{
    margin-bottom: 3px;
}
.sidebar-description{
    font-size: 12px;
    font-family: "BM Jua";
    margin-top: 4px;
}
.sidebar-progress{
    min-width: 210px;
    width: 100%;
}
