.video-container {
    /*overflow: hidden;*/
    overflow-x: auto;
}

.video-container-wrap {
    height: 400px;
    overflow-x: auto;
    margin-bottom: 20px;
    /*background: aquamarine;*/
    /* Add this line to make it scrollable */
}

.video-container-calousel {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /*background-color: darkred;*/
}
.video-container-category{
    position: absolute;
}
.video-container-category-badge{
   width: 330px;
}
.video-container-category-font{
    font-size: 28px;
    font-family: "BM Jua";
}
.video-card {
    width: 330px;
    height: 350px;
    margin-right: 10px;
    /*background-color: darkgreen;*/
}
.video-card-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /*background-color: burlywood;*/
}
.video-card-wrap-img {
    width: 330px;
    object-fit: contain;
    border-radius: 10px;
}
.video-card-wrap-detail > span{
    font-family: "BM Jua";
    font-size: 20px;
    color: #002855;
}
.video-card-wrap-detail > div{
    font-family: "BM Jua";
    font-size: 16px;
    color: #002855;
}
